
<div id="content">
	<div id="aboutmessagebox">
		<h1 id="mainslogan">Compete 1v1 for Fame, Glory, and Charity</h1>
		<div id="medtext">
			To all Summoners who dedicate themselves to the mastery of one champion...
			<br>
			Or if you're just a 420-NoScope-BasedGod  1v1 laner..
			<br>

			It is time to compete 1v1 tournament style to claim the title, 


		</div>
	<div id="bigtext">
		BEST in NA
	</div>

	<h1>Frequently Asked Questions</h1>


</div>