<div id="aboutbackground"></div>
<div id="content">
	
	<h1 id="mainslogan">Compete 1v1 for Glory, Fame, and Charity</h1>
	<div id="aboutmessagebox">
		
		<div id="aboutbox">
			<p id="innerabout"><span id="floatleft">Who is the Best</span> <span id="cyclingchampbox">Annie</span><span id="floatleft"> NA?</span>
			</p>
		</div>


		<div id="mainmessage">

			Many people claim to have mastered a LoL Champion, but talk is cheap. We host monthly 1v1 tournaments to decide who is truly Best in NA. These aren't just for LCS Pro's either; anyone can prove their merit on the Fields of Justice. We're calling all One-Trick-Pony SoloQueue Heros to lane versus the best in NA.
			<br>
			All donations/pledges will go toward a charity unique to each Tournament's themed Champion. There are many disadvantaged Summoners, but as a community, we can raise awareness to their lores and help pick them back on their feet. See you on the Fields of Justice.

		</div>
	</div>

</div>