<div id="content">
<div id="writingcontainer">

<img id="charitypic" src="sarah.jpg">
<div id="charityarticletitle">Annie the Dark Child, Sarah and Cystic Fibrosis</div>

<div id="charitystory">
	<p>Meet Sarah! <br> She has been playing League of Legends for 2 years and mains Annie Support. When Sarah is off the Rift, she enjoys dance, hiking and finger-painting. Unfortunately, Sarah also has Cystic Fibrosis, making it difficult for her to stay active.</p>
	<p>Cystic Fibrosis is a disease that causes lots of thick mucus to  build up in the lungs and other areas of the body. Most people who are affected experience fatigue, delayed growth and periodical pains; it is life-threatening in severe cases.</p>
	<p>This February, we'd like to bring awareness to Cystic Fibrosis patients and the many summoners who struggle with it every single day. All pledges raised in the BestAnnieNA Tournament will go directly toward the treatment of Cystic Fibrosis patients. As a community, we can create positive change in their lives; See you on the Fields of Justice!</p>	
</div>

<div id="charitynavbox">
	<a href="">DONATE</a>
	<a href="">LEARN MORE</a>

</div>

</div>	
</div>