<div id="content">
<div id="writingcontainer">

<img src="sarah.jpg">

</div>	
<div id="donationsboard">
	<h1>Meet Sarah</h1>
	<p>Give synopsis of history with League + favorite champion</p>
	<p>Bring Awareness to Disease/Problem</p>
	<button>Donate</button>
	<p>
	Blurb About Make a Wish<br>
	or St. Judes<br>
	or Extralife<br>
	or Charitable Gaming <br>
	Maybe Replace Top bar so it is only on the righthand side and flush with the video.
		<br>
		Need to make Register and Donate Buttons really big and easy to find.
		<br>
		Need to advertise Specific Charity
		<br>
		Need to have Rules Easy to find!
		<br>
		Introduce victim in blank purple space to the left
</p>
</div>
</div>