<div id="content">
<div id="writingcontainer">

<img src="joe.jpg">

</div>	
<div id="donationsboard">
	<h1>Meet Joe</h1>
	<p>Give synopsis of history with League + favorite champion</p>
	<p>Bring Awareness to Disease/Problem</p>
	<button>Donate</button>
	<p>
	Blurb About Make a Wish<br>
	or St. Judes<br>
	or Extralife<br>
	or Charitable Gaming <br>
</p>
</div>
</div>