<div id="content">
<div id="writingcontainer">
<div id="tournamentbar">
	<div id="tournamentbartitle">Best Annie NA</div>

	<div id="lefthlightbox">
	<h2 id="sectiontitle">Highlights</h2>
	<iframe width="420" height="375" src="//www.youtube.com/embed/dOcXEsYUJ0Q" frameborder="0" allowfullscreen></iframe>

	<h1>$10,592 Raised<br>Huge Thanks to Everyone!</h1>
	<select>
		<option>Donor List</option>
	</select>
	<br>
	<h2 id="sectiontitle">Casters</h2>

	<h2>LOLZirene <span style="float:right"><img style="height:20px;width:20px;" src="/twitter.png"> <img style="height:20px;width:20px;padding-left:15px" src="facebook.png"> </span>  </h2><br>
	<h2>DavidPhreak <span style="float:right"><img style="height:20px;width:20px;" src="/twitter.png"> <img style="height:20px;width:20px;padding-left:15px" src="facebook.png"> </span></h2>
	</div>

	<div id="righthlightbox">

		<h2 id="sectiontitle">Full Matches</h2>
		<h4>Placements</h4>
		<a href=""><div id="tourneygame">Bigfatlp <span id="vs">vs</span> <span id="rightp">Hotshotgg<span></div></a><br>
		<a href=""><div id="tourneygame">Annie Bot<span id="vs">vs</span> <span id="rightp">Doctor Yang<span></div></a><br>
		<a href=""><div id="tourneygame">Wild Turtle <span id="vs">vs</span> <span id="rightp">MadGlory Prime<span></div></a><br>
		<a href=""><div id="tourneygame">Aryzle <span id="vs">vs</span> <span id="rightp">Omniscience<span></div></a><br>
		<a href=""><div id="tourneygame">The Odd One <span id="vs">vs</span> <span id="rightp">GQ907<span></div></a><br>
		<a href=""><div id="tourneygame">Pobelter <span id="vs">vs</span> <span id="rightp">Reginald<span></div></a><br>

		<h4>Semifinals</h4>
		<a href=""><div id="tourneygame">Annie Bot <span id="vs">vs</span> <span id="rightp">Wild Turtle<span></div></a><br>
		<a href=""><div id="tourneygame">The Odd One <span id="vs">vs</span> <span id="rightp">Hotshotgg<span></div></a><br>
		<h4>Grand Finals</h4>
		<a href=""><div id="tourneygame">Wild Turtle <span id="vs">vs</span> <span id="rightp">Hotshotgg<span></div></a><br>
	</div>


</div>
<div id="tournamentbar">
	<div id="tournamentbartitle" >Best Riven NA</div>
</div>
<div id="tournamentbar">
	<div id="tournamentbartitle">Best Zed NA</div>
</div>

</div>
</div>