<div id="donationsboard">
	<h1>Highlight Clips</h1>
	<iframe width="560" height="315" src="//www.youtube.com/embed/n4w5IdcIpBU" frameborder="0" allowfullscreen></iframe>
	<iframe width="560" height="315" src="//www.youtube.com/embed/dOcXEsYUJ0Q" frameborder="0" allowfullscreen></iframe>
</div>

<div id="rankboard">
	<h1>Full Games</h1>
	<a href="" id="tourneylink">Riven</a><br><br>
	<a href="" id="tourneylink">Zed</a>
	<p>use react/backbone so that clicking links above<br>results in expended menu with organized games</p>
	<p>need to add padding bottom so footer doesnt overlap*</p>

</div>
