<div id="content">
<div id="writingcontainer">
<div id="leftcol">
	<h1>Highlights</h1>
	<iframe width="450" height="245" src="//www.youtube.com/embed/dOcXEsYUJ0Q" frameborder="0" allowfullscreen></iframe>
</div>

<div id="rightcol">
	<h1>Full Games</h1>
	<h3>Current Tournament: BestAnnieNA</h3>
	<a href="" id="tourneylink">Annie</a>

	<h3>Past Tournaments</h3>
	<a href="" id="tourneylink">Riven</a><br>
	<a href="" id="tourneylink">Zed</a>
	<br>
	<p>use react/backbone so that clicking links above<br>results in expended menu with organized games</p>
	<p>need to add padding bottom so footer doesnt overlap*</p>

</div>
</div>
</div>