<div id="content">
<div id="writingcontainer">
<div id="tournamentbar">

	<div id="leftcol">
	<h1>Highlights</h1>
	<iframe width="450" height="245" src="//www.youtube.com/embed/dOcXEsYUJ0Q" frameborder="0" allowfullscreen></iframe>
	</div>

	<div id="rightcol">
		<h1>Full Matches</h1>
		<h3>Placements</h3>
		<a href="" id="tourneylink">Bigfatlp VS Hotshotgg</a><br>
		<a href="" id="">Annie Bot VS Doctor Yang</a><br>
		<a href="" id="">Wild Turtle VS MadGlory Prime</a><br>
		<a href="" id="">Aryzle VS Omniscience</a><br>
		<a href="" id="">The Odd One VS GQ907</a><br>
		<a href="" id="">Bingel VS Klompas</a>

		<h3>SemiFinals</h3>
		<a href="" id="tourneylink">Annie Bot VS Wild Turtle</a><br>
		<a href="" id="tourneylink">The Odd One VS Hotshotgg</a>

		<h3>Finals</h3>
		<a href="">Wild Turtle Vs Hotshotgg</a>



		<br>
	</div>

</div>
<div id="tournamentbar">Best Riven NA</div>
<div id="tournamentbar">Best Zed NA</div>

</div>
</div>