<div id="currenttourneybox">
<div id="maintourneytitle">
	Who is the <br>
	Best <span id="champemph">Annie</span> NA?

	<div id="tourneybuttons">
	<button>Rules</button>
	<button>Register</button>
	<button>Donate</button>
	<br>
	</div>

	<div id="tourneystreambox">
		<br>
		1v1 Tournament
		<br>
		Twitch.tv/bestchampionna
		<br>
		<br>
		Final 24 Compete
		<br> February 20, 2015 8:00PM Eastern
	</div>
</div>


<div id="charityprofilebox">
	<span id="featuring">FEATURING </span>
	<br> Wild Turtle
	<br>Annie Bot<br>
	VoyBoy<br>
</div>
<div id="proceedsmssg">All Proceeds Go<br>to Charity</div>
</div>