
<div id="content">
	<h1 id="mainslogan">Compete 1v1 for Fame, Glory, and Charity</h1>
</div>

<div id="content">
	<div id="currenttourneybox">
		<div id="infostrip">
			Who is the Best<span id="champemph">Annie</span>NA?

			<div id="infonav">
				Register Donate
			</div>
		</div>
		<div id="leftbox">

		<iframe width="560" height="315" src="//www.youtube.com/embed/sezYJvdUTOM" frameborder="0" allowfullscreen></iframe>
		</div>


		<div id="rightbox">
			blahblah
		</div>
		<div style="clear:both"></div>
	</div>
</div>