
<div id="content">
	<h1 id="mainslogan">Compete 1v1 for Fame, Glory, and Charity</h1>
</div>

<div id="content">
	<div id="currenttourneybox">
		
		<div id="leftbox">

		<iframe width="550" height="315" src="//www.youtube.com/embed/cjdoSLXf-NY" frameborder="0" allowfullscreen></iframe>
		</div>


		<div id="rightbox">
			<div id="donationdisplaybox">
				<div class="numberbox">420</div>
				<span class="smalltext">Entries</span>
				<span id="donationnumber" class="numberbox">$19,761</span>
				<span class="smalltext">pledged of $25,000 goal</span>
				<div class="numberbox">25</div>
				<span class="smalltext">days to go</span>
				<div class="numberbox" id="champemph">Donate</div>
			</div>
			<div id="posterbox">
				Best<span id="champemph">Annie</span>NA
				<img src="/annie.png" style="height:180px">
				<span id="champemph">Register</span>
			</div>
		</div>
		<div id="infostrip">
			Could Potentially Have MostStonedAnnieNA superlative awards(playersvote)
		</div>
		<div style="clear:both"></div>
	</div>
</div>