


<div id="content">
	<div id="currenttourneybox">
		
		<div id="leftbox">

		<h1>Back Your Hero!</h1>
		<h3>If you have what it takes, Enter.</h3>
		</div>


		<div id="rightbox">
			<div id="homenavbar">
				<button id="feab" onClick="showfeature()" class="homenavb">Featuring</button>
				<button id="regb" onClick="showregister()" class="homenavb">Enter</button>
				<button id="schb" onClick="showschedule()" class="homenavb">Schedule</button>
			</div>
			<div id="homenavbox">

			</div>
		</div>

		<div style="clear:both"></div>
	</div>
</div>

<div id="content">
	<div id="homeqbox">
		<h1 id="mainq">
			Who is 
			<span id="mainlogo">
				Best<span class="champemph" id="champ">Annie</span>NA
			</span>?
			<span class="smalltext">February 1st, 2015 8:00 PDT</span>
		</h1>
		<img src="annieselecticon.png" id="homeqicon">

		<div id="donationdisplaybox">
			<div class="numberbox">
				420
				<span class="smalltext">entries</span>
			</div>
			
			<div class="numberbox">
				<span id="donationnumber">$19,761</span>
				<span class="smalltext">pledged of $25,000 goal</span>
			</div>
			
			<div class="numberbox">
				25
				<span class="smalltext">days to go</span>
			</div>
			
		</div>
	</div>

	<p>additionalthoughts: Add a pledge tab in the black bar<br>
		Add a pledge button in the table for each summoner next to their pledge amount<br>
		problem script doesnt run when html used
	</p>
</div>