


<div id="content">
	<div id="currenttourneybox">
		
		<div id="leftbox">

		<h1>Top 24 Seeds Compete!</h1>
		<table>
			<tr id="tableheading" style="font-size:25px;">
				<td>Rank</td>
				<td>Summoner Name</td>
				<td>Pledges</td>
			</tr>
			<tr style="font-size:24px;">
				<td id="ranktd">1</td>
				<td>Wild Turtle</td>
				<td>$9,678</td>
			</tr>
			<tr style="font-size:23px;">
				<td id="ranktd">2</td>
				<td>Mad Glory Prime</td>
				<td>$9,178</td>
			</tr>
			<tr style="font-size:22px;">
				<td id="ranktd">3</td>
				<td>Aryzle</td>
				<td>$7,678</td>
			</tr>
			<tr style="font-size:21px;">
				<td id="ranktd">4</td>
				<td>The Odd One</td>
				<td>$5,678</td>
			</tr>
			<tr style="font-size:20px;">
				<td id="ranktd">5</td>
				<td>Annie Bot</td>
				<td>$4,678</td>
			</tr>
			<tr style="font-size:19px;">
				<td id="ranktd">6</td>
				<td>Dyrus</td>
				<td>$4,678</td>

			</tr>
			<tr style="font-size:18px;">
				<td id="ranktd">7</td>
				<td>Lustboy</td>
				<td>$4,478</td>

			</tr>
			<tr style="font-size:17px;">
				<td id="ranktd">8</td>
				<td>Reginald</td>
				<td>$4,178</td>

			</tr>
			<tr style="font-size:16px;">
				<td id="ranktd">9</td>
				<td>Scarra</td>
				<td>$4,078</td>
			</tr>
			<tr style="font-size:15px;">
				<td id="ranktd">10</td>
				<td>Hotshotgg</td>
				<td>$3,000</td>
			</tr>
			<tr style="font-size:14px;">
				<td id="ranktd">11</td>
				<td>NightBlue3</td>
				<td>$2,000</td>
			</tr>
			<tr style="font-size:13px;">
				<td id="ranktd">12</td>
				<td>Imaqtpie</td>
				<td>$1,000</td>
			</tr>
		</table>
		</div>


		<div id="rightbox">
			<h1>Do YOU Have What It Takes?</h1>
			<input id="input1" placeholder="Enter Your Summoner Name">
			<button>Register</button>
			<h1>Back Your Heroes!</h1>
			<select>
				<option>Summoner Name</option>
				<option>Wild Turtle</option>
				<option>Doctor Yang</option>
				<option>Mad Glory Prime</option>
				<option>YoloSwag420NoScopeFTW</option>
				<option>The Odd One</option>
			</select><br>
			<input id="input2" placeholder="$ Pledge Amount">
			<button>Donate</button>
			<h4>*All Proceeds Support Cystic Fibrosis Patients</h4>
			<span>
			<button>Rules</button>
			<button>Schedule</button>
			<button>Sarah's Story</button>
			</span>
		</div>

		<div style="clear:both"></div>
	</div>
</div>

<div id="content">
	<div id="homeqbox">
		<h1 id="mainq">
			Who is 
			<span id="mainlogo">
				Best<span class="champemph" id="champ">Annie</span>NA
			</span>?
			<span class="smalltext">February 1st, 2015 8:00 PDT</span>
		</h1>
		<img src="annieselecticon.png" id="homeqicon">

		<div id="donationdisplaybox">
			<div class="numberbox">
				420
				<span class="smalltext">entries</span>
			</div>
			
			<div class="numberbox">
				<span id="donationnumber">$19,761</span>
				<span class="smalltext">pledged of $25,000 goal</span>
			</div>
			
			<div class="numberbox">
				25
				<span class="smalltext">days to go</span>
			</div>
			
		</div>
	</div>

</div>