<div id="rankboard">
	<h1>UpComing Tournaments</h1>
	<a href ="" id="tourneylink">Annie</a><br>
	
	<h1> Previous Tournaments</h1>
	<a href ="" id="tourneylink">Riven</a><br><br>
	<a href ="" id="tourneylink">Zed</a><br>
</div>


<div id="donationsboard">
	<h1>Top Donations</h1>
	<tr>
		<td>SummonerName</td>
		<td>| Donation</td>
	</tr>
	<ul>
		<li>
			<tr>
				<td>MadGlory Prime</td>
				<td>$999,999,999,999</td>
			</tr>
		</li>
		<li>
			<tr>
				<td>Wild Turtle</td>
				<td>$999,999,999</td>
			</tr>
		</li>
		<li>
			<tr>
				<td>Doctor Yang</td>
				<td>$999,999</td>
			</tr>
		</li>
		<li>
			<tr>
				<td>NASTIESTDONGERNA</td>
				<td>$1</td>
			</tr>
		</li>
	</ul>

	could potentially incorporate message/favorite champion/Name IRL
	
</div>