<div id="content">
<div id="writingcontainer">

	<div id="entryrulebox">
		<h1 id="ruleheader">How Do I Enter a Tournament?</h1>
		<div id="entryrulesection">
		<input placeholder="enter your summoner name" id="ruleentryname"></input>  
		<a id ="regbutton" onClick="regsummoner()"><div id="regbuttonbox">REGISTER</div></a>
		<div id="afterreg"></div>
		</div>

		<div id="entryrulesection">
		<h3>Climb your way to one of the <a href="/standings">top 24 seeds</a> to compete!</h3>
		<div>
			<input id="ruleentryname2" placeholder="Enter Summoner Name"></input><input id="donationamount" placeholder="Pledge Amount"></input>
			<a id ="donbutton" onClick="donsummoner()"><div id="regbuttonbox">Donate</div></a>
		</div>
		</div>
	</div>

	<div id="leftcol" class="l12">
		<h1 id="ruleheader">How Do I Enter a Tournament?</h1>
		<div class="indent45">
		<p><span class="bold">1)</span> Submit Your Summoner Name to the Tournament Roster</p>
		<p><span class="bold">2) a.</span> Make a Donation Under Your Summoner Name<br>&nbsp;&nbsp;&nbsp;&nbsp; <span class="bold">b.</span> Ask Others to Pledge Donations Under Your Summoner Name </p>
		<span class="bold">*Summoners who raise the 24 largest Donations secure a position in the Tournament</span>
		<br>
		</div>
		<br>
		<h1 id="ruleheader">What If I Didn't Make it into the Top 24?</h1>
		<div class="indent45">
		<p>If You Didn't Make the Top 24, Don't Worry! Your Pledge Amount Will Remain the Same Beside Your Summoner Name! This Amount Can Be Used In Future Attempts to Enter a Different Champion's Tournaments!</p>
		<p>*Once 24 Contestants are selected for a Tournament, Their Current Pledge Amount Cannot Be Used In the Entry of Future Tournaments.</p>
		</div>

		<div id="moretourneyb"><a  href="/tournaments">More Tournaments</a></div>
	</div>
	<div id="rightcol">
		<h1 id="ruleheader">Tournament Rules</h1>
		<table id="ruletable">
			<tr>
				<td id="a" class="gbackground">Contestants</td>
				<td class="lgbackground">There are 24 Contestants per Tournament</td>
			</tr>
			<tr>
				<td id="a"class="gbackground">Elimination</td>
				<td class="mgbackground">Each Match is Single Elimination.
					<br>
					To advance to the next round, a contestant must win 2/3 games.
					<br>
					*The winner of the GrandFinals is determined by winning 3/5 games.
				</td>
			</tr>
		</table>

		<h1 id="ruleheader">In-Game Rules</h1>
		<table id="ruletable">
			<tr>
				<td id="a" class="gbackground">Champion</td>
				<td class="lgbackground">Players may only use the specified Champion (Any Skin is Allowed)</td>
			</tr>
			<tr>
				<td id="a" class="gbackground">Map</td>
				<td class="mgbackground">Summoner's Rift.</td>
			</tr>
			<tr>
				<td id="a" class="gbackground">Lane</td>
				<td class="lgbackground">Players must stay in the Top Lane. Recalling is allowed.</td>
			</tr>
			<tr>
				<td id="a" class="gbackground">Jungle</td>
				<td class="mgbackground">No Jungle Creeps may be killed.</td>
			</tr>
			<tr>
				<td id="a" class="gbackground">Winning Events</td>
				<td class="lgbackground">1)First Blood<br>2)First Downed Turret<br>3)A 30CS Lead<br><span id="ruleexception">*Win by CS Lead can't occur before 10 minutes in-game.</span></td>
			</tr>
			<tr>
				<td id="a" class="gbackground">Miscellaneous</td>
				<td class="mgbackground">1)No Crit Runes allowed<br>2)If a match does not end before 30 minutes, the player with the highest CS wins.<br>3)No personal live-streaming allowed <br><span id="ruleexception">*You may record yourself and upload/share replay afterwards</span></td>
			</tr>
		</table>

	</div>

</div>
</div>