<div id="content">
	<div id="writingcontainer">
		<h1>BestAnnieNA</h1>
		Maybe Replace Top bar so it is only on the righthand side and flush with the video.
		<br>
		Need to make Register and Donate Buttons really big and easy to find.
		<br>
		Need to advertise Specific Charity
		<br>
		Need to have Rules Easy to find!
		<br>
		Introduce victim in blank purple space to the left
		<h1>Coming Up Soon!</h1>
		<h2>March - Teemo</h2>
		<h2>April - Irelia</h2>
	</div>
</div>

			