<div id="content">
	<div id="writingcontainer">
		<div id="scheduleheader">
			<span id="schedulelogo">Best<span id="champemph">Annie</span>NA </span>
		</div>

		<div id="scheduleinfobox">

		<h2 id="scheduledeadline">Top 24 Seeds Locked <br> <span id="deadlinedate">February 1st 8:00PM PDT!</span></h2>

		<table id="scheduletable">
			<tr>
				<td class="pbackground">First Round Kickoff</td>
				<td class="grbackground">Friday, February 5th 8:00PM PDT</td>
			</tr>
			<tr>
				<td class="pbackground">SemiFinals</td>
				<td class="grbackground">Saturday, February 6th 8:00PM PDT</td>
			</tr>
			<tr>
				<td class="pbackground">Finals</td>
				<td class="grbackground">Sunday, February 7th 8:00PM PDT</td>
			</tr>
		</table>

	</div>

	<div id="schedulenav">
		<a href="/rules">Enter</a>
		<a href="/standings">Pledge</a>
		<a href="/charities">Charities</a>

	</div>

	<img  id="schedulepic" src="annie.png">
	<img id="scheduleyoutube" src="youtube.png">
	<img id="scheduletwitch" src="twitch.png">
	<div id="schedulecharityinfo">*All Tournament Pledges Support <br>Cystic Fibrosis Patients</div>
</div>

			