<div id="content">
<div id="writingcontainer">
<div id="standingsnavbar">
	<a href="/"><span id="currentstandingsnav">February 2015 | Best<span id="champemph">Annie</span>NA</span></a>
	<a href="/"><span id="prevstandingsnav">Previous Tournaments</span></a>
	<a href="/"><span id="alltimestandingsnav">All-Time Champions</span></a>
	<input type="text" id="standingsearchbar" placeholder="Search Summoners"></input>
</div>
<table id="standingslist">
	<tr>
		<td>Rank</td>
		<td>Summoner Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tier</td>
		<td>Current Tournament Pledge</td>
		<td>Lifetime Pledge</td>
		<td>Awards</td>
		<td>Twitter</td>
	</tr>
	<tr id="alt">
		<td>1</td>
		<td id="tiericon">MadGlory Prime </td>
		<td>$999,999,999</td>
		<td>$123,123,123,123,123</td>
		<td>Riven</td>
		<td>Seth</td>
	</tr>
	<tr>
		<td>2</td>
		<td id="tiericon">WildTurtle</td>
		<td>$99,999,999</td>
		<td>$23,123,123,123,123</td>
		<td>Riven</td>
		<td></td>
	</tr>
	<tr id="alt">
		<td>3</td>
		<td id="tiericon">Doctor Yang</td>
		<td>$9,999,999</td>
		<td>$3,123,123,123,123</td>
		<td>Zed</td>
		<td>Tom</td>
	</tr>
	<tr>
		<td>4</td>
		<td id="tiericon">Annie Bot</td>
		<td>$999,999</td>
		<td>$123,123,123,123</td>
		<td></td>
		<td></td>
	</tr>
	<tr id="alt">
		<td>7</td>
		<td>^Should Link to Lolking?</td>
		<td>^Should Have Dropdown of Endorsers?</td>
		<td>^Should put badges, etc.</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>5</td>
		<td id="tiericon">The Odd One</td>
		<td>$99,999</td>
		<td>$23,123,123,123</td>
		<td></td>
		<td></td>
	</tr>
	<tr id="alt">
		<td>6</td>
		<td id="tiericon">Scarra</td>
		<td>$9,999</td>
		<td>$3,123,123,123</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>7</td>
		<td>^Should Link to Lolking?</td>
		<td>^Should Have Dropdown of Endorsers?</td>
		<td>^Should put badges, etc.</td>
		<td></td>
		<td></td>
	</tr>
	<tr id="alt">
		<td>1</td>
		<td>MadGlory Prime</td>
		<td>$999,999,999</td>
		<td>$123,123,123,123,123</td>
		<td></td>
		<td></td>
	</tr>

</table>

</div>