<div id="content">
<div id="writingcontainer">
<div id="standingsnavbar">
	<a href="/"><span id="currentstandingsnav">February 2015 | Best<span id="champemph">Annie</span>NA</span></a>
	<a href="/"><span id="prevstandingsnav">Previous Tournaments</span></a>
	<a href="/"><span id="alltimestandingsnav">All-Time Champions</span></a>
	<input type="text" id="standingsearchbar" placeholder="Search Summoners"></input>
</div>
<table id="standingslist">
	<tr id="namingrow">
		<td>Seed</td>
		<td>Summoner Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tier</td>
		<td>Current Tournament Pledge</td>
		<td>Lifetime Pledge</td>
		<td>Back Your Hero</td>
	</tr>
	<tr id="alt">
		<td>1</td>
		<td id="tiericon2">MadGlory Prime </td>
		<td>$999,999,999</td>
		<td>$123,123,123,123,123</td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr>
		<td>2</td>
		<td id="tiericon3">Aryzle</td>
		<td>$99,999,999</td>
		<td>$23,123,123,123,123</td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr id="alt">
		<td>3</td>
		<td id="tiericon">Doctor Yang</td>
		<td>$9,999,999</td>
		<td>$3,123,123,123,123</td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr>
		<td>4</td>
		<td id="tiericon">Annie Bot</td>
		<td>$999,999</td>
		<td>$123,123,123,123</td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr id="alt">
		<td>5</td>
		<td>^Make Link to Lolking</td>
		<td>^List Endorsers dropdown</td>
		<td>^Champion Icons?</td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr>
		<td>6</td>
		<td id="tiericon">The Odd One</td>
		<td>$99,999</td>
		<td>$23,123,123,123</td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr id="alt">
		<td>7</td>
		<td id="tiericon">Scarra</td>
		<td>$9,999</td>
		<td>$3,123,123,123</td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr>
		<td>8</td>
		<td>NightBlue3</td>
		<td>$1231</td>
		<td></td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr id="alt">
		<td>9</td>
		<td>Imaqtpie</td>
		<td>$980</td>
		<td></td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr>
		<td>10</td>
		<td>Wild Turtle</td>
		<td>$1231</td>
		<td></td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr id="alt">
		<td>11</td>
		<td>RF Legendary</td>
		<td>$1231</td>
		<td></td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr>
		<td>12</td>
		<td>Kobe24</td>
		<td>$1231</td>
		<td></td>
		<td>$ <input> <button>+</button></td>
	</tr>
	<tr id="alt">
		<td>13</td>
		<td>Stvicious</td>
		<td>$1231</td>
		<td></td>
		<td>$ <input> <button>+</button></td>
	</tr>

</table>

</div>