<div id="content">
	<div id="writingcontainer">
		<div id="leftcol">
			<h1>Current Tournament</h1>
			<div id="tournamentbox">
				<img id="tournamenticon" src="annieselecticon.png">
			</div>
			<br>
			<h1>Upcoming Tournaments</h1>
			<div id="tournamentbox">
				<img id="tournamenticon" src="annieselecticon.png">
			</div>
			<div id="tournamentbox">
				<img id="tournamenticon" src="annieselecticon.png">
			</div>
		</div>
		<div id="rightcol">
			<h1>
				Previous Tournaments
			</h1>
			<div id="tournamentbox">
				<img id="tournamenticon" src="annieselecticon.png">
			</div>
			<div id="tournamentbox">
				<img id="tournamenticon" src="annieselecticon.png">
			</div>
		</div>
	</div>

</div>