<div id="content">
	<div id="writingcontainer">
		<div id="leftcol">
			<h1 id="tcategorytitles">Upcoming Tournaments</h1>
			<a href="/"><div id="tournamentbox">
				<img id="tournamenticon" src="annieselecticon.png">
				<div id="tournamenttitle">Annie <span id="ttime">February 1st, 2015 8:00 PDT </span></div>
				<div id="tournamentpledge">$9,367<br><span id="smallpledgetext">raised</span></div>
			</div>
			</a>
			<a href="/"><div id="tournamentbox">
				<img id="tournamenticon" src="ireliaselecticon.png">
				<div id="tournamenttitle">Irelia <span id="ttime">March 1st, 2015 8:00 PDT </span></div>
				<div id="tournamentpledge">$3,367<br><span id="smallpledgetext">raised</span></div>
			</div>
			</a>
			<a href="/"><div id="tournamentbox">
				<img id="tournamenticon" src="teemoselecticon.png">
				<div id="tournamenttitle">Teemo <span id="ttime">April 1st, 2015 8:00 PDT </span></div>
				<div id="tournamentpledge">$69<br><span id="smallpledgetext">raised</span></div>
			</div>
			</a>
		</div>
		<div id="rightcol">
			<h1 id="tcategorytitles">
				Previous Tournaments
			</h1>
			<a href="/"><div id="tournamentbox">
				<img id="tournamenticon" src="rivenselecticon.png">
				<div id="tournamenttitle">Riven <span id="ttime">February 1st, 2013</span></div>
				
					<p class="first">Megazero</p>
					<p class="second">Aniratak</p>
					<p class="third">Capricious</p>
	
			</div>
			</a>
			<a href="/"><div id="tournamentbox">
				<img id="tournamenticon" src="zedselecticon.png">
				<div id="tournamenttitle">Zed <span id="ttime">February 1st, 2014</span></div>
					<p class="first">BrianLe</p>
					<p class="second">MadGlory Prime</p>
					<p class="third">Wild Turtle</p>
	
			</div>
			</a>
		</div>
	</div>

</div>