/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('http://fonts.googleapis.com/css?family=Roboto');

html, 
body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	font-family:Roboto;
	
}

#wrapper{
	position:relative;
	height:100%;
	background:#45a;
}

 #mainheader{
 	height:100px;
 	background:#333;
 }

#content{
	padding-top: 15px;
	width:1000px;
	margin:auto;
	position:relative;
}

#mainfooter{
	position:absolute;
	bottom:0px;
	background: #333;
	height:100px;
	width:100%;
	color:#eee;
}

#mainlogo{
	font-size: 35px;
	color:#eee;
	padding-left:20px;
	padding-top:10px;
	width:400px;
	float:left;
}

#champ{
	font-weight: bold;
	font-size: 60px;
}

#headernav{
	float:right;
	word-spacing: 10px;
	font-size: 20px;
	margin-top: 45px;
	width:790px;
}

#headernav a{
	color:white;
	text-decoration: none;
	font-weight: bold;
	padding:9px;
	border-radius: 5px;
}

#headernav a:hover{
	background:#444;
}

