/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('http://fonts.googleapis.com/css?family=Roboto');
 @import url('http://fonts.googleapis.com/css?family=Oswald');
 @import url('http://fonts.googleapis.com/css?family=Ubuntu');
 @import url('http://fonts.googleapis.com/css?family=Lato');

html, 
body {
	margin:0;
	padding:0;
	height: 100%;
	font-family:Lato, sans-serif;
}

#wrapper{
	height:100%;
	min-height:100%;
	position:relative;
	background:#f3f3f3;
}

 #indenttopbot{
 	position:relative;
 	padding-top: 30px;
 }

#content{
	width:1000px;
	margin:auto;
	position:relative;
}

.gbackground{
	background:#D8F6CE;
}

.lgbackground{
	background:#f6f6f6;
}

.dgbackground{
	background:#333;
}

.mgbackground{
	background:#eee;
}

.indent45{
	padding-left: 55px;
	padding-right: 55px;
}