#featuredtitle{
	float:left;
	padding:20px;
	font-size:25px;
	width:100%;
	background:#eee;
	text-align:center;
	word-spacing:10px;
	margin-bottom:25px;
}
#featuredtitle2{
	float:left;
	padding:20px;
	font-size:25px;
	width:100%;
	background:#eee;
	text-align:center;
	word-spacing:10px;
	margin-bottom:25px;
	margin-top:105px;
}
#featuredtitle3{
	float:left;
	padding:20px;
	font-size:25px;
	width:100%;
	background:#eee;
	text-align:center;
	word-spacing:10px;
	margin-bottom:25px;
	margin-top:25px;
}


#charitypic{
	width:270px;
	float:left;
	border:5px solid #faa;
	border-radius:10px;
}

#charityarticletitle{
	width:660px;
	float:left;
	font-size:24px;
	padding-left:40px;
	word-spacing:5px;
	text-transform:uppercase;
}

#charitystory{
	width:660px;
	height:200px;
	float:left;
	padding-left:40px;
	line-height:180%;
	font-size:17px;
}

#charitynavbox{
	width:270px;
	position:absolute;
	left:0px;
	top:330px;
	margin-top:190px;
	a{
		padding:20px;
		background:#faa;
		border-radius:10px;
		color:black;
		text-decoration:none;
		margin-left:10px;
	}
}

#rivencharity{
	cursor:pointer;
	:hover{
		text-decoration:underline;

	}
}
#zedcharity{
	cursor:pointer;
	:hover{
		text-decoration:underline;
	}
}


#othercharityheader1{
	width:100%;
	border-top: 1px solid #333;
	border-bottom:1px solid #333;
	float:left;
	font-size:24px;
	padding:10px;
	position:relative;
	text-transform:uppercase;

	#rivencharitycontent{
		font-size:15px;
		margin-top:15px;
		line-height:200%;
		text-transform:none;
	}

}

#othercharityheader2{
	width:100%;
	border-bottom: 1px solid #222;
	float:left;
	font-size:24px;
	padding:10px;
	text-transform:uppercase;

	#zedcharitycontent{
		font-size:15px;
		margin-top:15px;
		line-height:200%;
		text-transform:none;
	}
}


#partnercharitybox{
	width:100%;
	position:relative;
	float:left;
	height:500px;
	padding:30px;
	word-spacing:20px;

	.charitypadding{
		padding:30px;
	}
}