$lightpurp: #ede;
$darkpurp: #414;
$anniered: red;//#D03;
$darkgrey: #222;
$lightgrey: #333;

#champemph{
	font-weight:bold;
	color:$anniered;
}

#mainslogan{
	font-size:54px;
	
}

#currenttourneybox{
	border: 1px solid $darkpurp;
	background:#9f909f;
	width:100%;
	height:600px;
	position:relative;

	#infostrip{
		color:white;
		height:10px;
		width:100%;
		background:$darkgrey;
		float:left;
	}

	#leftbox{
		position:relative;
		float:left;
		width:550;
		height:315px;
			
	}

	#rightbox{
		width:450px;
		float:right;
		font-size:25px;
		background:$darkpurp;
		height:315px;
		position:relative;
		opacity:0.7;

		#donationdisplaybox{
			width:150px;
			padding:15px;
			font-weight: bold;
			color:white;
			float:right;
			border-left:2px solid $darkgrey;

			#donationnumber{
				font-weight:bold; 
			}

			.smalltext{
				font-size:14px;
				font-weight:100;
				height:35px;
				float:left;
				width:160px
			}
			.numberbox{
				height:45px;
				float:left;
				width:160px;
				font-size: 40px;
			}
		}

		#posterbox{
			padding:15px;
			font-size: 40px;
			color:white;
			width:260px;
			text-align:center;
		}
	}

}


