$lightpurp: #ede;
$darkpurp : #414;


#mainslogan{
	font-size:54px;
}

#currenttourneybox{
	border: 1px solid $darkpurp;
	box-shadow:2px 2px 2px $lightpurp;
	background:#9f909f;
	opacity:0.6;
	width:100%;
	height:600px;
	position:relative;

	#infostrip{
		opacity:1;
		color:white;
		height:30px;
		width:100%;
		background:#222;
		font-size:20px;
		text-indent: 130px;

		#champemph{
			font-weight:bold;
			color:#D03;
		}

		#infonav{
			width:430px;
			float:right;
			position:relative;
			text-indent: 60px;
			word-spacing: 120px;
			font-size: 16px;
		}
	}

	#leftbox{
		float:left;
		width:560;
			
	}

	#rightbox{
		width:438px;
		float:right;
		font-size:25px;
		border:1px solid black;
	}

}



