$lightpurp: #ede;
$darkpurp: #414;
$anniered: #faa;
$darkgrey: #222;
$lightgrey: #333;

$lgreen:#D8F6CE;

.champemph{
	font-weight:bold;
	color:$anniered;
	font-family:Oswald;
}

#homeqbox{
	height:140px;
	position:relative;
	padding-left:25px;
	background:#1a1a1a;
	color:white;
	border-top:1px solid black;
}

#homeqicon{
	height:77px;
	width:77px;
	float:left;
	margin-top:20px;
	margin-left:15px;
	border-radius:100%;
	//border:1px solid $anniered;
}

#mainq{
	padding:none;
	float:left;
	font-size:30px;
	width:350px;

	#champ{
		font-size:45px;
	}
}

#donationdisplaybox{
	width:530px;
	height:100%;
	padding-top:6px;
	//padding-right:75px;
	font-weight: bold;
	float:right;

	#donationnumber{
		font-weight:bold; 
	}

	.numberbox{
		float:right;
		font-size: 35px;
		position:relative;
		padding:18px;
		height:100%;
		max-width: 170px;
	}
}

.smalltext{
	font-size:14px;
	font-weight:100;
	float:left;
	width:100%;

}

#currenttourneybox{
	width:100%;
	height:445px;
	position:relative;

	#leftbox{
		position:relative;
		float:left;
		width:550;
		height:445px;
		//text-align:center;
		font-size:20px;
		font-weight:bold;

		table{
			border-spacing:0px;
			border:1px solid black;
			font-weight:100;
			background:#fcfcfc;

			#tableheading{
				background:black;
				color:white;
				//text-transform:uppercase;
				//font-family:Oswald;
				font-weight:100;
			}
			td{
				padding-left:10px;
				padding-right:10px;
				padding-top:2px;
				//border-top:1px solid black;
				//border-bottom:1px solid black;
			}
			#ranktd{
				text-align:center;
				font-weight:800;
				//border-right:1px solid black;
			}
		}
			
	}

	#rightbox{
		//border-left:1px solid black;
		padding-left:20px;
		width:330px;
		float:left;
		//background:#333;
		//border:1px solid black;
		height:445px;
		position:relative;
		border-right:1px solid black;
		line-height:150%;

		h1{
			//text-align:center;
			font-size:30px;
			margin-top:10px;
			padding-top:0px;
		}

		#input1{
			width:280px;
			border:none;
			font-size:25px;
			border-bottom:2px solid #333;
			font-family:oswald;
		}

		#input2{
			width:180px;
			border:none;
			font-size:25px;
			border-bottom:2px solid #333;
			font-family:oswald;			
		}

		button{
			font-family:oswald;
			font-size:25px;
			background:none;
			border-radius:5px;
			margin:7px;
		}
		select{
			font-size:25px;
			font-family:oswald;
		}
		input:focus{
			outline:0;
		}

		textarea{
			margin-top:10px;
			width:275px;
			height:170px;
			line-height:150%;
		}
		span{
			button{
				border-radius:5px;
				margin:7px;
				background:black;
				border:none;
				font-size:25px;
				font-family:oswald;
				color:white;
				padding:5px;
			}
		}

	}

}


