$headercolor:#333;
$headercolor2:#282828;
//$headertextcolor:#D8F6CE;
$headertextcolor:#faa;
$headerheight:35px;

#mainheader{
 	height:$headerheight;
 	background:$headercolor;
 	width:100%;
 	font-family: Oswald;
 }

#headernav{
	float:right;
	font-size: 12px;
	padding-top: 10px;

	a{
		color:$headertextcolor;
		text-decoration: none;
		padding-right:20px;
		padding-left:20px;
		border-right:1px solid #777;
	}
	a:hover{
		color:red;
	}
}

#socialmedia{
	float:left;
	padding-left:25px;

	a{
		padding-right:5px;
	}
}

.hicon{
	width:20px;
	height:20px;
	padding-top:7px;
}