#ruleheader{
	font-size:25px;
	text-align:center;
	background:#ddd;
	padding:20px;
}

#ruletable td{
	padding:10px;
	line-height:150%;
}

#a{
	font-weight: bold;
	text-align:center;
	width:120px;
	}

#moretourneyb{
	margin:auto;
	margin-top:30px;
	font-size:14px;
	background:#ddd;
	border-radius:5px;
	width:150px;
	padding:25px;
	border:1px solid black;
	position:relative;

	a{
		text-decoration: none;
		color:black;
		text-transform: uppercase;
	}
}

#ruleexception{
	font-size:12px;
}

#entryrulebox{
	width:100%;
	height:500px;


	#entryrulesection{
		padding-left:50px;
		padding-top:25px;
		height:100px;
		font-size:24px;
		font-weight:100;
		
		a{
			color:black;
			font-style: italic;
		}

		#ruleentryname{
			width:480px;
			border:none;
			background:none;
			border-bottom:3px solid #faa;
			font-size:38px;
			float:left;
		}

		#regbuttonbox{
			font-size: 14px;
			margin-left:30px;
			border-radius:5px;
			border:1px solid black;
			padding:17px;
			color:black;
			background:#ddd;
			text-decoration:none;
			float:left;
			cursor:pointer;
		}

		#afterreg{
			float:left;
			width:900px;
			padding-top:15px;
		}

		#ruleentryname2{
			width:290px;
			border:none;
			background:none;
			border-bottom:3px solid #faa;
			font-size:38px;
			float:left;
		}
		#donationamount{
			width:260px;
			border:none;
			background:none;
			border-bottom:3px solid #faa;
			font-size:38px;
			float:left;
			margin-left:20px;
		}

		#ruleentryname:focus, #ruleentryname2:focus, #donationamount:focus{
			outline:0;
			color:#4099ff;
			cursor:20px;
		}
	}
}