
#scheduleheader{
	color:black;
	text-align:center;
	padding:15px;

	#schedulelogo{
	font-family:Oswald;
	font-size:25px;

		#champemph{
			font-weight:bold;
			font-size: 38px;
		}
	}
}



#scheduleinfobox{
	width:700px;
	float:left;
	position:relative;

	#scheduledeadline{
		margin-left: 78px;
		margin-top:40px;
		font-size:18px;
		border-radius: 10px;
		//background:#333;
		padding-left: 30px;
		padding-top:60px;
		padding-bottom:30px;
		//color:#faa;
		color:black;
		width:360px;
		//border:1px solid black;

		#deadlinedate{
			font-size:30px;
			font-weight: 100;
			margin:auto;
		}
	}

	#scheduletable{
		margin-top:-25px;
		margin:auto;
		//border:1px solid black;
		font-size:20px;
		padding:5px;
		border-radius:10px;
		background:#ddd;
		z-index:1;
	}

}

#schedulepic{
width:200px;
position:absolute;
right:280px;
top:120px;
}
#scheduleyoutube{
	position:absolute;
	width:100px;
	top:160px;
	right:160px;
}
#scheduletwitch{
	position:absolute;
	width:130px;
	top:280px;
	right:150px;
}
#schedulecharityinfo{
	position:absolute;
	right:20px;
	top:380px;
}


.pbackground{
	background:#faa;
	padding:10px;
	font-weight:bold;
	border-radius:5px;
}

.grbackground{
	border-radius:5px;
	padding:10px;
	font-size:17px;
	background:#eee;
}

#schedulenav{
	width:100%;
	height:100px;
	background:#e2e2e2;
	margin-top:470px;
	position:relative;
	text-align:center;
	a{
		color:white;
		text-decoration:none;
		font-size: 25px;
		padding:30px;
		background:#222;
		font-family: Oswald;
		text-transform: uppercase;
		border-radius:10px;
	}

}
