$lightpurp:#ede;
$lgreen:#D8F6CE;
$secondheaderheight:90px;
$headergrey:#333;

#secondheaderbox{
	height:$secondheaderheight;
	background:$lgreen;
	width:100%

}

#secondheadernav{
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	padding-top:36px;
	float:right;

	a{
		color:$headergrey;
		text-decoration:none;
		padding-left:15px;
		padding-right:25px;

	}
	a:hover{

	}
}

#mascot{
	position:absolute;
	top:60px;
	left:36px;
	height:120px;
	width:110px;
	z-index:12;

}

 #mainlogo{
	font-size: 20px;
	float:left;
	padding-top: 16px;
	padding-left:25px;
	font-family:Oswald;
	
	a{
		color:$headergrey;
		text-decoration:none;
	}

	#champ{
		font-weight: bold;
		font-size: 30px;
	}
}