$maingold:#FFA607;
$lightgrey:#eaeaea; //kass horn colors
$medgrey:#ccc;
$kassrobe:#282739;

#tiericon{
	background:url("/challenger.png") no-repeat;
	background-position:195px;
	background-size:40px 40px;
}
#tiericon2{
	background:url("/tiericon2.png") no-repeat;
	background-position:195px;
	background-size:40px 40px;
}
#tiericon3{
	background:url("/wood5.jpg") no-repeat;
	background-position:195px;
	background-size:40px 40px;
}

#standingsnavbar{
	width:100%;
	height:40px;
	font-size:20px;
	background:$lightgrey;
	border-bottom:5px solid $kassrobe;

	a{
		color:$kassrobe;
		text-decoration:none;
	}

	#currentstandingsnav{
		height:33px;
		width:347px;
		float:left;
		text-align:center;
		padding-top:7px;
		background:$kassrobe;
		color:$lightgrey;

	}

	#prevstandingsnav{
		height:33px;
		width:237px;
		float:left;
		text-align:center;
		padding-top:7px;
		border-right:1px solid $kassrobe;

	}

	#alltimestandingsnav{
		height:33px;
		width:207px;
		float:left;
		text-align:center;
		padding-top:7px;
		border-right:1px solid $kassrobe;
	}

	#standingsearchbar{
		border-radius:5px;
		border:1px solid $kassrobe;
		height:28px;
		margin-left:15px;
		margin-top:4px;
		text-indent:30px;
		background: white url("http://i.imgur.com/lFkqn.png") left center no-repeat;
		font-size: 15px;
	}
}

#standingslist{
	width:100%;
	border-spacing:0px;
	border-left:1px solid $kassrobe;
	border-bottom:1px solid $kassrobe;

	#namingrow{
		color:$lightgrey;
		background:$kassrobe;
	}

	td{
		height:20px;
		padding:9px;
		border-right:1px solid $kassrobe;
		input{
			width:60px;
			text-align:right;
		}
		button{
			border-radius:100%;
			border:1px solid black;
		}
	}
}

#alt{
	background:#eee;
}