// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#leftcol{
	width:480px;
	float:left;
	padding:10px;
}
#rightcol{
	width:480px;
	float:right;
	padding:10px;
}

//why won't the background turn white!?!?!?
#writingcontainer{
	position:relative;
	background:white;
}
//general

.bold{
	font-weight:bold;
}
.l12{
	line-height:150%;
}