// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rankboard{
	width:400px;
	float:left;
}
#donationsboard{
	width:400px;
	float:right;
}

#tourneylink{
	color:white;
	text-decoration:none;
	font-size: 20px;
	font-weight:bold;
}

#tournresults{
	width:950px;
}

#medtext{
	font-size:40px;
}

#bigtext{
	font-size:70px;
}