// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#maintourneytitle{
	padding-top:20px;
	font-size:30px;
	float:left;
	color:white;
}

#charityprofilebox{
	text-align:right;
	padding-top:20px;
	float:right;
	font-size:25px;
	color:white;
}

#champemph{
	font-weight:bold;
	font-size:70px;
	color:#D03;
}

#currenttourneybox{
	background-image: url("/annie.png");
	width:100%;
	height:590px;
	background-repeat:no-repeat;
	background-position:210px 0px;
	border-bottom:30px solid #D03;
	position:relative;
}

#featuring{
	font-weight:bold;
	font-size:35px;
	text-decoration:underline;
}

#tourneybuttons{
	margin-top:20px;
}

button{
	width:90px;
	height:40px;
	border-radius:10px;
	font-size:20px;
	border: 2px solid white;
	background:none;
	color:white;
}

button:hover{
	background: white;
	color:#45a;
	cursor:pointer;
	font-weight:bold;
}


#proceedsmssg{
	position:absolute;
	bottom:0px;
	left:0px;
	color:white;
	font-size:35px;
}

#rankboard{
	width:400px;
	float:left;
}
#donationsboard{
	width:400px;
	float:right;
}

#tourneylink{
	color:white;
	text-decoration:none;
	font-size: 20px;
	font-weight:bold;
}

#tournresults{
	width:950px;
}

#medtext{
	font-size:40px;
}

#bigtext{
	font-size:70px;
}