$anniered:#faa;

#tournamentbox{
	width:435px;
	height:100px;
	padding-left:45px;
	color:black;
	position:relative;

}

#tournamentbox:hover{
	background:#e7e7e7;
	cursor:pointer;
}

#tournamenticon{
	height:70px;
	width:70px;
	border-radius:100%;
	margin-top:12px;
	margin-bottom:7px;
	border:3px solid black;
	float:left;
}

#tournamenttitle{
	padding-top:10px;
	text-indent:10px;
	font-size:30px;
	font-weight:bold;
	font-family: Oswald;
	position:relative;

	#ttime{
		padding-top:none;
		position:absolute;
		bottom:-15px;
		left:75px;
		font-family: Lato;
		font-weight: 100;
		font-size:14px;
	}
}

#tcategorytitles{
	font-weight:100;
	text-transform:uppercase;
	font-size:27px;
	background: #333;
	color: $anniered;
	//text-indent:20px;
	text-align:center;
	padding:10px;
	border-radius:5px;
}

#tournamentpledge{
	position:absolute;
	top:22px;
	right:15px;
	font-size:25px;
		#smallpledgetext{
			font-size:14px;
			position:absolute;
			top:30px;
			right:1px;
		}
}

.first{
	text-align:right;
	background:#CFB53B;
	width:130px;
	position:absolute;
	right:15px;
	top:-10px;
	border-radius:3px;
	padding:4px;
}
.second{
	text-align:right;
	background:#e6e8fa;
	width:130px;
	position:absolute;
	top:20px;
	right:15px;
	border-radius:3px;
	padding:4px;

}
.third{
	text-align:right;
	background:#8c7853;
	width:130px;
	position:absolute;
	top:50px;
	right:15px;
	border-radius:3px;
	padding:4px;
}